extends basic_layout

block content

    div.container.listing-reg
    h2 Admin, please, introduce yourself

    -data = data || {}

      form(action="./db" method="GET" class="form-registration")
        label(for="login") Login:
        input(
          type="text"
          id="login"
          name="login"
          class="form-control"
          value=data.login
        )

        label(for="password") Password:
        input(
          type="password"
          id="password"
          name="password"
          class="form-control"
          value=data.password
        )

        input(
          type="submit"
          value="Let me in"
          class="btn btn-lg btn-primary btn-block"
        )