extends ../basic_layout

block content

    a.btn.btn-primary(href='/db') Back to main page
    div.d-flex.justify-content-center
        div.row-cols-1
            div.col-4
                h1 Themes
            div.col-4
                button.btn.btn-success(
                    type='button'
                    data-toggle='modal'
                    data-target='#addModal') Insert
    br
    include ../modal/modal-insert
    .card-deck
        each _theme in list
            .card.text-white.bg-secondary.mb-3
                .card-body
                    h5.card-title Theme params
                    p.card-text= "ID: " + _theme.id
                    p.card-text= "Name: " + _theme.name
                    button.btn.btn-primary(
                        type='button'
                        data-toggle='modal'
                        data-target='#updateModal' + _theme.id) Update
                    button.btn.btn-danger(
                        type='button'
                        data-toggle='modal'
                        data-target='#deleteModal' + _theme.id) Delete

            div.modal.fade(
                tabindex='-1'
                role='dialog'
                aria-hidden='true'
                id='deleteModal' + _theme.id)
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5.modal-title Menu
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        .modal-body
                            form(action="/db/delete/theme" method="GET")
                                label.col-form-label= "Theme ID: " + _theme.id
                                br
                                label.col-form-label Input theme id to delete:
                                p.alert-warning You will delete all questions related to this theme!
                                input.form-control(type='text' name="id")
                                .modal-footer
                                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                                    input.btn.btn-danger(type="submit" value="Delete")




